/* =========================================
   HERO SECTION
========================================= */
.ppHero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    width: 100%;
    height: 70vh;
    background: linear-gradient(135deg, #425c86, #c4585f);
    color: #fff;
    gap: 40px;
    flex-wrap: wrap;
}

/* Before Animation */
.ppHeroContent,
.ppHeroImage {
    opacity: 0;
    transform: translateY(40px);
}

.ppHeroContent {
    /* border: 2px solid yellow; */
}

.ppHeroContent h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.ppHeroContent p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Hero Image */
.ppHeroImage  {
    width: 100%;
    max-width: 450px;
    margin-top: 60px;
    /* border: 1px solid black; */
}

/* Animation Classes */
.slideInLeft {
    animation: slideInLeft 1s forwards ease-out;
}

.slideInBottom {
    animation: slideInBottom 1s forwards ease-out;
}

/* Keyframes */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================================
   PAGE CONTENT SECTION
========================================= */
.ppContent {
    padding: 60px 10%;
    background: #f8f9fa;
}

.ppContent h2 {
    font-size: 24px;
    color: #425c86;
    margin-bottom: 12px;
}

.ppWrapper p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
}

.ppWrapper>ul {
    margin-bottom: 10px;
}

.ppWrapper>ul>li {
    line-height: 1.7;
    margin-left: 15px;
}









/* =========================================
   RESPONSIVE STYLES
========================================= */

@media (max-width: 768px) {
    .ppHero {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 40vh;
        padding: 50px 0px 0;
    }

    .ppHeroImage {
        display: none;
    }

    .ppHeroContent h1 {
        font-size: 34px;
        margin-top: 50px;
    }

    .ppHeroContent p {
        font-size: 16px;
    }

    .ppContent {
        padding: 20px;
    }

    .ppContent h2 {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 5px;
    }

    .ppWrapper p {
        font-size: 14px;
    }

    .ppWrapper>ul>li {
        font-size: 14px;
    }
}


@media (min-width:1007px){
    .ppHero {
        display: flex;
        flex-direction: row;
        padding: 0 2%;
        
      

    }
}