:root {
  --primary: #425c86;   /* 60% */
  --secondary: #cda75e; /* 30% */
  --accent: #c4585f;    /* 10% */
}

/* Headings use LORA font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}

/* Body text uses ROBOTO font */
body, p, a, li, div {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

* {
    outline: none !important;
      padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body {
  width: 100%;
  overflow-x: hidden;
}
