/* HERO SECTION */
.tcHero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0%;
  width: 100%;
  height: 70vh;
  background: linear-gradient(135deg, #425c86, #c4585f);
  color: #fff;
  gap: 30px;
  flex-wrap: wrap;
}

/* Default state BEFORE animation */
.tcHeroContent {
  opacity: 0;
  transform: translateY(40px);
  margin: 0;
  /* border: 3px solid green; */
}

/* .tcHeroImage {
  transform: translateY(40px);
} */



.tcHeroContent h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tcHeroContent p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Hero Image */
/* .tcHeroImage img {
  width: 100%;
  max-width: 400px;
} */

.tcHeroImage {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 400px; /* or whatever fits your design */
  opacity: 1;
  padding-top: 5%;
  /* border: 3px solid black; */
}


/* ANIMATIONS */
.slideInLeft {
  animation: slideInLeftAnim 1s forwards ease-out;
}

@keyframes slideInLeftAnim {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInBottom {
  animation: slideInBottomAnim 1s forwards ease-out;
  opacity: 1!important;
}

@keyframes slideInBottomAnim {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TERMS CONTENT */
.tcContent {
  padding: 60px 10%;
  background: #f8f9fa;
}

.tcWrapper h2 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #425c86;
}

.tcWrapper p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 22px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .tcHero {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 50px 0px 0px;
  }

  .tcHeroImage {
    display: none;
  }

  .tcHeroContent h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .tcHeroContent p {
    font-size: 16px;
  }

  .tcContent {
    padding: 20px;
  }

  .tcWrapper h2 {
    font-size: 20px;
  }

  .tcWrapper p {
    font-size: 14px;
  }
}
